//Colors
$color-white: #ffffff;
$color-info: #29b6f6;
$color-info-light: #b6ffff;
$color-info-dark: #0086c3;
$color-danger: #ef5350;
$color-success: #66bb6a;
$color-text: #212121;
$color-text-light: #484848;
$color-nav: #1a2930;
$color-card: #2C4551;
$color-grey: #e0e0e0;
$color-lightgrey: #f5f5f5;

//Font Sizes
$font-lg: 56px;
$font-md: 32px;
$font-sm: 16px;
$font-xs: 12px;
$font-card: 20px;
$font-selectbox: 14px;
$font-target: 18px;

//Breakpoints
$breakpoint-tables: 768px;
$breakpoint-desktop: 1023px;