//Colors
$color-white: #ffffff;
$color-info: #29b6f6;
$color-info-light: #b6ffff;
$color-danger: #ef5350;
$color-success: #66bb6a;
$color-text: #212121;
$color-text-light: #484848;

//Font Sizes
$font-lg: 56px;
$font-md: 32px;
$font-sm: 16px;

//Breakpoints
$breakpoint-tables: 768px;
$breakpoint-desktop: 1023px;